<h1>
    Product Details for Product Id: {{productData.id}}
</h1>
<div>
    Name: {{productData.name}} <br> Price: {{productData.price}}
</div>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productData">
            <td>
                {{product.id}}
            </td>
    
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>
    </tbody>
</table>-->