<h1>Product List</h1>

<input class="form-control" type="number" [(ngModel)]="price" name="price" placeholder="Price">
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList | price : price ">
            <td>
                {{product.id}}
            </td>
            <td>
                <img [src]="product.imageUrl" [alt]="product.imageUrl">
            </td>
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price | inr :1}}
            </td>
            <td>
                <button [routerLink]="['/product',product.id]" class="btn btn-primary">Details</button>
            </td>
            <td>
                <button md-raised-button color="primary" (click)="openEdit(product)" type="button">Edit</button>
            </td>
        </tr>
    </tbody>
</table>